/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

/* === VARIABEL === */
:root {
  /* --- Color --- */
  --base-color: white;

  --primary-color: white;
  --secondary-color: lightblue;

  --hero-bg-color: linear-gradient(45deg, lightgrey, grey);

  --accent-color: yellow;

  --header-color: yellow;
  --title-color: whitesmoke;

  --text-color: black;
  --muted-text-color: grey;
  --link-color: blue;

  /* --- Font Sizes --- */
  --fs-sm: clamp(1rem, 3vw, 1.6rem);
  --fs-md: clamp(1.6rem, 5vw, 2rem);
  --fs-lg: clamp(2.4rem, 5vw, 3.2rem);
  --fs-xlg: clamp(3rem, 5vw, 4.8rem);

  /* --- Gap Sizes --- */
  --gap-xs: 0.8rem;
  --gap-sm: 1.6rem;
  --gap-md: 2.4rem;
  --gap-lg: 3.2rem;

  /* --- Radius --- */
  --radius-sm: 1.6rem;
}


/* === GLOBAL === */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-sm);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--base-color);
}

h1 {
  font-size: var(--fs-xlg);
  color: var(--accent-color);
}

h2 {
  font-size: var(--fs-lg);
  color: var(--header-color);
}

h3 {
  font-size: var(--fs-md);
  color: var(--title-color);
}

section {
  padding: var(--gap-lg) var(--gap-sm);
}

footer {
  padding: 0 var(--gap-sm);
}

img {
  width: 100%;
  pointer-events: none;
  display: block;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}

a {
  color: var(--link-color);
}

a svg {
  fill: var(--link-color);
}


/* === LAYOUT === */
/* --- Navbar --- */
header {
  /* background-color: black; */
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

/* --- Hero Section --- */
.hero {
  height: 80vh;
  background: var(--hero-bg-color);
  display: flex;
}

.hero-content {
  text-align: center;
  margin: auto;
}

/* --- About Section --- */
.about-me {
  font-size: var(--fs-sm);
}

/* --- Project Section --- */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-sm);
}

/* --- Footer --- */
footer {
  background-color: var(--primary-color);
}

.footer-container {
  padding: var(--gap-lg) 0;
}


/* === ITEM === */
.nav-link {
  /* border: 1px solid black; */
  width: 120px;
  text-align: center;
  display: block;
  padding: 1rem 0;
  text-decoration: none;

  &:hover {
    background-color: aqua;
  }
}

.section-title {
  margin: 0 auto;
  margin-bottom: var(--gap-sm);
  text-align: center;
  /* background: grey; */
}

.copyright {
  margin: 0 auto;
  text-align: center;
}


/* === CARD COMPONENT === */
/* --- Project Card --- */
.card {
  background-color: var(--secondary-color);
  padding: var(--gap-sm);
  padding-bottom: var(--gap-lg);
  border-radius: var(--radius-sm);
}

.thumb {
  margin-bottom: var(--gap-sm);
}

.thumb img {
  border-radius: var(--radius-sm);
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.card-details p {
  color: var(--muted-text-color);
}

.project-link {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.open-icon {
  width: 20px;
}


/* === UTILITY === */
.paragraph {
  margin-bottom: var(--gap-sm)
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.list-style-none {
  list-style: none;
}

.icon {
  aspect-ratio: 1/1;
}

/* .margin-bottom {
  margin-bottom: var(--gap-lg);
} */